html, body, div, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./jpg/kame-house-dragon-3840x2160-25003.jpg);
    background-size:cover;
    background-attachment: fixed;
}
.userForm{
    background: rgba(255, 255, 255, 0.3); /* 半透明背景 */
    backdrop-filter: blur(12px) saturate(120%);
    -webkit-backdrop-filter: blur(12px) saturate(120%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.1);
}
